{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/error.css'%}">
    </head>
    <body>
        
        <div class="terminal">
            <h1>Error <span class="errorcode">403</span></h1>
            <p class="output">Access denied. You do not have permission to view this page.</p>
        </div>

    </body>
</html>